/*  IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@300..700&family=Quicksand:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@300..700&family=Quicksand:wght@300..700&family=Smooch+Sans:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/*      Página inicio   */
body {
    margin: 0px;
    padding: 0;
}

.container__main {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
}

.menu__index {
    height: 90px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-flow: row nowrap;
    padding: 8px;
}

.logo__home{
    width: 30%;
    height: 80%;
    display: flex;
}
.logo__home img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.buttons {
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.buttons a {
    font-size: 9pt;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    border-radius: 1px;
}

.info__1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
}


.item__2 {
    width: 100%;
    flex-flow: column wrap;
    justify-items: flex-start;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
}

.item__2 h4 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 6px;
}











.info__2 {
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
}

.item__3 {
    width: 70%;
    height: auto;
    flex-flow: column wrap;
    border-radius: 3px;
}

.item__3 .title__item3 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 17px;
    padding: 10px;
    color: whitesmoke;
    background-color: black;
}

.item__3 .infoservicos {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px;
    color: black;
}











.item__4 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 30%;
    flex-flow: column wrap;
    padding: 2px;
    border-left: 1px solid black;      
}

.item__4 .icons__servicos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
}

.item__4 .icons__servicos h4 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 10px;
    padding: 3px;
    margin-right: 3px;
}

.item__4 .icons__servicos img {
    width: 40px;
    height: 40px;
}






.info__3 {
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 12px;
}

.button__servicos {
    display: flex;
    width: 100%;
    height: 200px;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}

.button__homepage{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.button__homepage .button__exp__vidrolux{
    width: 100%;
    height: 34px;
    margin: 3px;
    border: none;
    border-radius: 4px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 15px;
    background-color: black;
    color: whitesmoke;
    z-index: 999;
    box-shadow: 1px 1px 2px black;
}

.button__homepage .button__whatsapp{
    width: 100%;
    height: 34px;
    margin: 3px;
    border: none;
    border-radius: 4px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #25D366;
    z-index: 999;
    box-shadow: 1px 1px 2px black;
}


.button_item1 {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 25px;
}


.button_item1 h2 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 5px;
}


.button__homepage button a {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    color: whitesmoke;
}
.button__homepage .whatsapp__Button{
    background-color: #25D366;
    border: none;
    margin: 5px;
    border-radius: 4px;
    height: 38px;
    width: 50%;
}
.button_item1 .whatsapp__Button a{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 10px;
    color: black;
}




.info__3 h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 22px;
    margin-left: 5px;
    text-align: end;
}

.info__3 h3 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 35px;
}

.info__3 p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 350;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 12px;
}


.footer__index {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 14px;

}
.footer__index p{
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 14px;
}








/*      Página de introdução    */
.container__introducao {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 85vh;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    background-color: #a8d0e66a;
    border-radius: 7px;
    margin-bottom: 15px;
}

.texto__introducao{
    display: flex;
    width: 100%;
    height: 300px;
    flex-flow: column nowrap;
    padding: 12px;
    justify-content: flex-end;
    align-content: center;
    margin-bottom: 20px;
    padding: 12px;
}
.texto__introducao h1{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 28pt;  
    text-align: center;  
}

.texto__introducao h3{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 11pt;   
    margin-top: 20px; 
    padding: 8px;
}

.texto__introducao p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 8pt;   
    text-decoration: underline;
    padding: 8px; 
}

.button__pagIndex{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.button__pagIndex button{
    width: 100%;
    height: auto;
    margin-right: 8px;
    text-align: center;
}
.button__pagIndex button a{
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 14pt;  
    color: black;
}
 .button__pagIndex img {
    width: 25%;
 }









/*      Página Serviços   */
.container__main__servicos{
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    row-gap: 5px;
}


.servicos__card{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    border-bottom: 1px solid darkgray;
}

.info__servicos{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-top: 12px;
    padding: 15px;

}

.info__servicos h2{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 18pt;
    text-align: start;
    color: black;
    margin-bottom: 15px;   
}

.info__servicos .medida__span{
        font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 20pt;
    text-align: end;
    color: black;
    margin-bottom: 10px; 
    text-decoration: underline;
    padding-bottom: 18px;  
}

.info__servicos p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 11pt;
    color: black;
}

.info__escolherservico{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
}

.info__escolherservico h3{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 18pt;
    text-align: start;
    color: black;
    padding-left: 5px;
}

.info__escolherservico p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 11pt;
    text-align: start;
    color: black;
    padding-left: 7px;
}


.container__card{
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}


.card__residencial{
    width: 100%;
    height: auto;
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-left: 10px;

}


.card__comercial{
    width: 100%;
    height: auto;
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-left: 10px;
}



.buttons__escolherservico{
    display: flex;
    width: 100%;
    padding: 10px;
}

.buttons__escolherservico button{
    margin: 3px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 8pt;
    color: whitesmoke;
    text-shadow: 0px 1px 2px black;
    box-shadow: -1px 1px 2px darkgray;
}



.info__escolherservico .btn{
    width: 100%;
}


.card{
    width: 90%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    padding: 16px;
    margin: 5px;
    box-shadow: -1px 1px 3px rgba(245, 222, 179, 0.642);
    z-index: 900;
}

.card h3{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 10pt;  
    margin-top: 4px;
}

.card p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 4px;
}

.card img{
    width: 20%;
}

.card p span{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    text-transform: uppercase;
    margin-top: 6px;
    text-decoration: none;
    text-align: center;
    box-shadow: -1px 0px 3px darkgray;
    cursor: pointer;
}

.card p span a{
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    font-size: 11px;  
}

.componente__servicos{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 9px;
    margin: 15px;
}

.info__whatsapp{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    margin: 10px;
}

.componente__servicos .alert{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 15pt;
    font-optical-sizing: auto;
    text-transform: uppercase;
    padding: 5px;
    color: black;
}

.componente__servicos h3{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-size: 12pt;
    font-optical-sizing: auto;
    text-transform: uppercase;
    text-align: center;
    padding: 3px;
    color: black;
}


.modal{
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 999;
    box-sizing: border-box;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.modal__content{
    width: 90%;
    height: auto;
    background-color: whitesmoke;
    padding: 15px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.8);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: -1px 1px 25px black;
    box-sizing: border-box;
}

.modal__content h2{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-optical-sizing: auto;
    text-transform: uppercase;
    padding: 5px;
    color: black;
    border-bottom: 1px solid darkgray;
}

.modal__content p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-optical-sizing: auto;
    text-transform: uppercase;
    text-align: start;
    padding: 5px;
    color: black;
}

.item__box1{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}


.item__box1 img{
    width: 250px;
    height: 250px;
}
 .item__box1 p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 10px;
    font-optical-sizing: auto;      
    text-transform: uppercase;
 }
















/*      Página Institucional   */
.container__institucional{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}












